* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
}

header {
  display: flex;
  justify-content: center;
  align-self: center;
  font-size: 30px;
}

.content {
  display: flex;
  justify-content: space-evenly;
  height: 96px;
}

.asideBlock {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.asideBtn {
  width: 200px;
  height: 50px;
  border: 1px solid black;
  background-color: gainsboro;
  cursor: pointer;
  border-radius: 5px;
}

.asideBtn:hover {
  background-color: rgb(25, 49, 49);
  border: 1px solid rgb(119, 119, 122);
}

.mainBlock {
  display: flex;
  align-items: center;
  min-width: 300px;
  border: 1px solid black;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(134, 76, 243);
}

.mainHeader {
  align-items: center;
  justify-content: center;
  font-size: 30px;
  margin-top: 30px;
  text-shadow: -2px 0px 10px rgba(6, 78, 22, 0.39);
}

.mainContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 80px;
  align-items: center;
}

.mainImg {
  width: 190px;
  height: 210px;
  border: 0.5px;
  border-radius: 3px;
}

.mainDescr {
  border: 1px solid rgb(81, 88, 81);
  width: 300px;
  word-break: keep-all;
  margin-right: 40px;
}

.mainSource {
  width: 100%;
}

.mainDescrUl {
  margin: 0 25px;
  padding-left: 20px;
}

.mainDescrLi {
  padding: 5px 0;
  list-style: none;
}

.clicked {
  background-color: rgb(11, 109, 33);
}

.clubs {
  background-image: url("images/footbal_clubs/uefa.jfif");
}

.liverpool {
  background-image: url("images/footbal_clubs/barclay's.jfif");
}

.bavaria {
  background-image: url("images/footbal_clubs/bundesliga.png");
}

.juve {
  background-image: url("images/footbal_clubs/seria_a.jfif");
}

.real {
  background-image: url("images/footbal_clubs/laliga1.jfif");
}

.ol {
  background-image: url("images/footbal_clubs/ligue_1.jfif");
}

@media (max-width: 768px) {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
  }

  .mainHeader {
    text-align: center;
  }

  .asideBlock {
    margin: 20px 0;
  }

  .mainBlock {
    width: 100%;
  }

  .mainContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .mainDescr {
    border: 1px solid black;
    width: 76vw;
    word-break: break-all;
    margin: 20px 0;
    padding: 7px;
    word-break: keep-all;
  }

  .mainSource {
    margin-top: 20px;
    width: 90%;
  }
}

@media (min-width: 768px) and (max-width: 1259px) {
  .content {
    height: auto;
  }

  .mainBlock {
    width: 90%;
    height: 100%;
  }

  .iFrame {
    height: 480px;
  }

  .mainContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .iFrame {
    height: 800px;
  }

  .mainDescr {
    margin: 10px 5px;
    padding: 10px;
    width: 36vw;
  }
}

@media (min-width: 1260px) and (max-width: 2524px) {
  .content {
    height: 100%;
  }

  .mainBlock {
    width: 90%;
    height: 100%;
  }

  .iFrame {
    height: 850px;
  }

  .mainContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .mainDescr {
    margin: 10px 5px;
    padding: 10px;
    width: 36vw;
  }
}
